<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    tr, td {
      padding: 10px;
    }
  </style>
<body>
  <div><a href="/write">작성</a></div>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{ post.post_id }}</td>
        <td>{{ post.name }}</td>
        <td><a href="/detail/{{ post.post_id }}">{{ post.title }}</a></td>
        <td>{{ post.created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</body>
</html>