<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    textarea {
      width: 165px;
      height: 100px;
    }
    .title {
      margin-bottom: 30px;
    }
    .image {
      margin-top: 20px;
    }
    .write {
      margin-top: 20px;
      width: 100px;
    }
  </style>
</head>
<body>
  <form action="/post/write" method="post">
    <div class="title">제목<input type="text" name="title"></div>
    <div>내용<textarea name="content"></textarea></div>
    <div><input type="file" name="image" class="image"></div>
    <div><button class="write">작성</button></div>
  </form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const $image = document.querySelector(".image");
  
  // $image.addEventListener("change", function(e) {
  //   const form = new FormData();
  //   form.append("image", this.files[0]);
  //   axios.post("/post/write", form)
  //     .then(res => console.log(res))
  //     .catch(err => console.error(err));
  // });
</script>
</body>
</html>