<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    textarea {
      width: 165px;
      height: 100px;
    }
    .title {
      margin-bottom: 30px;
    }
    .image {
      margin-top: 20px;
    }
    .write {
      margin-top: 20px;
      width: 100px;
    }
  </style>
</head>
<body>
  <form action="/post/write" method="post" enctype="multipart/form-data">
    <div class="title">제목<input type="text" name="title"></div>
    <div>내용<textarea name="content"></textarea></div>
    <div><input type="file" name="image1"></div>
    <div><input type="file" name="image2"></div>
    <div><input type="file" name="image3"></div>
    <div><button class="write">작성</button></div>
  </form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const $form = document.querySelector("form");
  
  // $form.addEventListener("submit", function(e) {
  //   e.preventDefault();
  //   const form = new FormData();
    
  // });
</script>
</body>
</html>